PORT=5000
MONGODB_URI=
NODE_ENV=development
CURRENCY=USD

# JWT Secrets
JWT_ADMIN_SECRET=
JWT_DOCTOR_SECRET=
JWT_USER_SECRET=

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Admin Credentials
ADMIN_EMAIL=
ADMIN_PASSWORD=

# CORS Credentials
ADMIN_URL=
FRONTEND_URL=

# Razorpay Credentials
RAZORPAY_API_KEY=
RAZORPAY_SECRET_KEY=

# Stripe Credentials
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_KEY=